.container {
  min-height: 100vh;
}

.main {
  padding: 5rem 0;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSection {
  /* background-color: lightgreen; */
  flex-basis: 50%;
  text-align: center;
}
.rightSection {
  /* background-color: lightblue; */
  flex-basis: 50%;
}

.footer {
  /* background-color: red; */
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.footer a {
  margin: 0 1rem;
}
